[EMAIL]
login =
#Your gmail email address
password =
#Your Gmail app specific password, will be 4 groups of 4 letters each, or your imap password if using a different email>server = imap.gmail.com
#imap server address, leave as is if using gmail
folder = inbox
#What IMAP folder do you want to search for images
subject_pw =
#optional password in the subject line of emails in order for them to be displayed on the photo frame

[SCREEN]
width = 1280
#Screen width
height = 800
#Screen Height
sleep = 23:00
#Time of day you want the screen to go to sleep
awake = 07:00
#Time of day you want the screen to wake up
delay = 30
#How long to display each photo
